package controller
{{$controllerName := .ControllerName}}
import (
	"{{.ModuleName}}/middleware"
	"github.com/denizakturk/servfront/bridge"
)

type {{$controllerName}} struct {
	middleware.ControllerMiddleware
}

{{if .HasMethod }}
{{range $method := .Methods}}
func (c *{{$controllerName}}) {{$method.Name}}() *bridge.ServiceResponse {
    response := &bridge.ServiceResponse{}
    /* Your code here ... */
    return response
}
{{end}}
{{end}}

