{{$Fields := .Fields}}
{{$modelName := .Name}}
export class {{$modelName}} {
    {{range $field := $Fields}}
        {{$field.Name}}: {{$field.Type}}
    {{end}}

    constructor(data: any) {
    {{range $field := $Fields}}
    this.{{$field.Name}} = data?.{{$field.Name}} ?? null
    {{end}}
    }
}