package controller

import (
	"microservice/middleware"

	"github.com/denizakturk/servfront/bridge"
)

type {{.ControllerName}} struct {
	middleware.ControllerMiddleware
}
{{$methods := .Method}}
{{$controllerName := .ControllerName}}
{{range $method := $methods}}
func (c *{{$controllerName}}) {{$method.Name}}() *bridge.ServiceResponse {
	response := &bridge.ServiceResponse{}
	{{if ne $method.RequestModelName ""}}
	request := &model.{{$method.RequestModelName}}
	{{end}}
	{{if ne $method.ResponseModelName ""}}
	responseModel := &model.{{$method.ResponseModelName}}
	{{end}}

	response.Data = responseModel
	return response
}
{{end}}
