package model
{{$modelName := .Name}}
{{$modelFields := .Fields}}
{{$uuidImport := false}}
{{range $field := $modelFields }}{{if and (not $uuidImport) (eq $field.Type "Uuid")}}
import "github.com/denizakturk/types/uuid/mysql"{{$uuidImport = true}}
{{end}}{{end}}

type {{$modelName}} struct {
    {{range $field := $modelFields }}
    {{$field.Name}} {{if eq $field.Type "Uuid"}}mysql.MyUuid{{else}}{{$field.Type}}{{end}} `json:"{{$field.Name | SnakeCase}}"`
    {{end}}
}